<aside [tuiNavigationAside]="expanded()">
    <header>
        <a
            iconStart="@tui.store"
            tuiAsideItem
            [routerLink]="['/']"
        >
            <span tuiFade>POS Retail</span>
        </a>
    </header>

    @for (item of navItems; track item.path) {
        <a
            tuiAsideItem
            [iconStart]="item.icon"
            [routerLink]="item.path"
        >
            <span tuiFade>{{ item.label }}</span>
        </a>
    }

    <hr />

    <footer>
        <button
            tuiAsideItem
            type="button"
            [iconStart]="expanded() ? '@tui.chevron-left' : '@tui.chevron-right'"
            (click)="handleToggle()"
        >
            {{ expanded() ? 'Collapse' : 'Expand' }}
        </button>
    </footer>
</aside>