<header tuiNavigationHeader>

    <!-- Mobile menu / drawer -->
    <button
        title="Menu"
        tuiIconButton
        tuiNavigationDrawer
        type="button"
        [(open)]="open"
    >
        <tui-data-list>
            @for (item of navItems; track item.path) {
                <a
                    tuiOption
                    [routerLink]="item.path"
                    (click)="open = false"
                >
                    <tui-icon [icon]="item.icon" />

                    {{ item.label }}
                </a>
            }
        </tui-data-list>
    </button>

    <!-- Brand -->
    <a
        tuiNavigationLogo
        [routerLink]="['/']"
    >
        <tui-icon icon="@tui.store" />

        <span tuiFade>POS Retail</span>
    </a>

    <!-- Search -->
    <tui-textfield
        class="header-search"
        iconStart="@tui.search"
    >
        <input
            placeholder="Search"
            tuiInput
            [(ngModel)]="search"
        />
    </tui-textfield>


    <hr />


    <!-- Notifications -->
    <button
        title="Notifications"
        tuiIconButton
        type="button"
    >
        <tui-icon icon="@tui.bell" />

        <tui-badge-notification>3</tui-badge-notification>
    </button>

    <!-- Profile -->
    <div tuiAvatar="AD"></div>

</header>